# 开启 BBR：

# 检查是否已经启用 BBR
# sysctl net.ipv4.tcp_congestion_control

# 临时启用 BBR
# sudo sysctl -w net.core.default_qdisc=fq
# sudo sysctl -w net.ipv4.tcp_congestion_control=bbr

# 永久启用 BBR（写入配置文件）
# echo "net.core.default_qdisc=fq" | sudo tee -a /etc/sysctl.conf
# echo "net.ipv4.tcp_congestion_control=bbr" | sudo tee -a /etc/sysctl.conf
# sudo sysctl -p

# 验证 BBR 是否开启成功
# sysctl net.ipv4.tcp_congestion_control
# lsmod | grep bbr

services:
  singbox:
    image: ghcr.io/sagernet/sing-box:latest
    container_name: singbox
    restart: always
    network_mode: host
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /root/projects/sing-box/config.json:/etc/sing-box/config.json
      - /root/projects/sing-box:/var/lib/sing-box
      - /etc/letsencrypt/live/{{DOMAIN}}:/etc/sing-box/cert:ro
    command: run -c /etc/sing-box/config.json

  config-updater:
    image: registry.cn-shanghai.aliyuncs.com/bytelab/singbox-config-updater:0.2.0-corporate
    container_name: singbox-config-updater
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - API_BASE_URL=${API_BASE_URL}
      - API_KEY=${API_KEY}
      - SINGBOX_CONFIG_PATH=/etc/sing-box/config.json
      - CRON_SCHEDULE=${CRON_SCHEDULE:-*/5 * * * *}
      - RESTART_SINGBOX=${RESTART_SINGBOX:-true}
      - SINGBOX_CONTAINER_NAME=singbox
      - LOG_LEVEL=${LOG_LEVEL:-info}
    volumes:
      - /root/projects/sing-box/:/etc/sing-box/
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - singbox
