<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytelab.tkline.server.mapper.NodeMapper">

    <select id="selectSubscriptionsByNodeId" resultType="com.bytelab.tkline.server.entity.Subscription">
        SELECT s.*
        FROM subscription s
        INNER JOIN node_subscription_relation nsr ON s.id = nsr.subscription_id
        WHERE nsr.node_id = #{nodeId}
          AND nsr.deleted = 0
          AND s.deleted = 0
    </select>

</mapper>
